@charset "EUC-KR";
#noticeTable{
	width: 1000px;
	background-color: black;
	color:orange; /* 제목쪽*/
	font-size: 13pt;
	
}

#noticeTable .dataTr{
	background-color: white;
	color:black;
}

#noticeTable .dataTr:hover{
	background-color: gray;
}

#noticeTable td{
	border-bottom: pink solid 3px;
}
